body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #575757
}

.main-wrapper {
    display: flex;
    height: calc(100% - 56px); /* 56px = altura navbar */
}

.sidebar {
    width: 240px;
    background-color: #f8f9fa;
    overflow-y: auto;
    padding: 1rem;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

footer {
    height: 80px;
}

.sidebar {
    background-color: #393939
}
