
@{
    ViewData["Title"] = "Main";
}

<h1>Inicio</h1>
<div class="sidebar">
    <h2>Tu biblioteca</h2>
    <a href="#">Mi lista nº 1</a>
    <a href="#">Mi lista nº 2</a>
</div>

  <div class="inicio">
    <h2 class="section-title">Canciones del momento</h2>
    <div class="albums">
      <div class="album" onclick="showDetails('SE LO JURO MOR', 'Feid', '~/img/track1.jpg')">
        <img src="~/img/track1.jpg" alt="">
        <span>SE LO JURO MOR</span>
      </div>
      <div class="album" onclick="showDetails('CEREMONY', 'Stray Kids', '~/img/track1.jpg')">
        <img src="~/img/track1.jpg" alt="">
        <span>CEREMONY</span>
      </div>
      <div class="album" onclick="showDetails('Top Diesel', 'Beéle', '~/img/track1.jpg')">
        <img src="~/img/track1.jpg" alt="">
        <span>Top Diesel</span>
      </div>
    </div>
  </div>
