@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - MusicPlataform</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-page">
        <div class="left-panel">
            <h1>MusicPlataform</h1>
            <p>Tu música, en todas partes. Accede con tu cuenta.</p>
        </div>

        <div class="right-panel">
            <i class="bi bi-vinyl"></i>
            <div class="login-box">
                <h2 style="color: black;">Inicia sesión</h2>

                <form asp-action="Login" method="post">
                    <input type="text" class="form-control" placeholder="Correo electrónico o usuario" name="Username" required>
                    <input type="password" class="form-control" placeholder="Contraseña" name="Password" required>

                    <div class="form-actions">
                        <label style="color: black;"><input type="checkbox" > Recuérdame</label>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>

                    <button type="submit" class="btn-login">Iniciar sesión</button>

                    <p class="small-text" style="color: black;">
                        ¿No tienes cuenta? <a href="/Users/Register">Regístrate gratis</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
